@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menuIcon {
  display: none;
}

/*Login Section */
.loginSection {
  padding: 0px 100px;
  display: flex;
  height: 100vh;
  align-items: center;
}

.loginContent {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.loginText h1 {
  font-weight: lighter;
  margin-bottom: 0;
  float: left;
  font-size: 64px;
  text-transform: uppercase;
}

.loginText p {
  margin: 0px 25px 100px 0px;
  font-size: 30px;
  float: right;
  text-transform: uppercase;
}

.loginImage img {
  width: 70%;
}

.loginForm {
  flex: 0.8;
}

.formContainer {
  margin: auto;
  padding-top: 60px;
  align-items: center;
  width: 450px;
  display: flex;
  flex-direction: column;
}

.formContainer .textField {
  margin: 12px 0px;
}

/* Register Section */

.registerSection {
  padding: 0px 100px;
  display: flex;
  height: 100vh;
  align-items: center;
}

.registerContent {
  flex: 1.2;
  display: flex;
  flex-direction: column;
}

.registerText h1 {
  font-weight: lighter;
  margin-bottom: 0;
  float: left;
  font-size: 64px;
  text-transform: uppercase;
}

.registerText p {
  margin: 0px 50px 100px 0px;
  font-size: 30px;
  float: right;
  text-transform: uppercase;
}

.registerImage img {
  width: 70%;
}

.registerForm {
  flex: 0.8;
}

/* Alerts */

.alert {
  animation: fadeIn ease 1.5s;
  margin: 10px 0px;
}

/*Welcome Section */

.welcomeSection {
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
}

.heroTitle {
  display: flex;
  align-items: center;
  font-size: 4rem;
  flex: 1;
  padding: 0px 50px;
  letter-spacing: 0.2rem;
}

.heroTitle p {
  margin-top: 0;
}

.heroTitle span {
  color: #ff6584;
  font-size: 6rem;
  font-weight: 900;
}

.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.heroImage img {
  width: 65%;
}

/*Movies Section */

.moviesSection {
  text-align: center;
}

.moviesGrid {
  animation: fadeIn ease 0.6s;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.imageWraper {
  width: 100%;
  margin-bottom: 50px;
}

.imageWraper img:hover {
  transform: scale(1.06);
}

.imageWraper img {
  cursor: pointer;
  transition: ease 0.4s;
  border-radius: 35px;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.4);
}

.searchInput {
  border-radius: 30px;
  outline: 0;
}

/* Movie Desc */

.movieDescSection {
  display: flex;
  justify-content: space-between;
  height: 93vh;
}

.movieDescImage {
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.movieDescImage .imageWrapper {
  width: 100%;
  height: 650px;
  border-radius: 15px;
  filter: drop-shadow(2px 2px 15px rgba(0, 0, 0, 0.4));
  overflow: hidden;
  transition: ease-in-out 1.5s;
}

.movieDescImage .imageWrapper img {
  height: 100%;
  object-fit: cover;
  animation: fadeIn ease-in-out 1.2s, upInImage ease-in-out 1s forwards;
}

.movieDescContent {
  flex: 1;
  padding: 30px;
}

.movieDescContent .titleDesc {
  opacity: 0;
  animation: fadeIn ease-in 1.3s 0.3s forwards;
}

.movieDescImage .imageWrapper:hover {
  transform: scale(0.97);
}

.detailsDesc {
  display: flex;
  justify-content: space-around;
}

.detailsDesc .card {
  text-align: center;
}

.detailsDesc .vote {
  animation: fadeIn ease 1.2s 0.8s backwards;
}

.detailsDesc .releaseDate {
  animation: fadeIn ease 1.2s 1s backwards;
}

.detailsDesc .runTime {
  animation: fadeIn ease 1.2s 1.2s backwards;
}

.MuiOutlinedInput-root {
  height: 35px !important;
  border-radius: 50px !important;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.MuiButton-root {
  border-radius: 25px !important;
}

.siteDesc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  animation: fadeIn ease 1s 1.5s backwards, upIn ease 1s 1s.5 backwards;
}

.siteDesc .imdbWrapper {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  display: flex;
  align-items: center;
  width: 150px;
  cursor: pointer;
  transition: ease 1s;
}

.siteDesc .imdbWrapper:hover {
  transform: translateY(-13px);
}

.siteDesc .imdbWrapper img {
  width: 100%;
}

.siteDesc .siteWrapper {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: royalblue;
  border-radius: 10px;
  width: 150px;
  height: 75.63px;
  cursor: pointer;
  transition: ease 1s;
}

.siteDesc .siteWrapper:hover {
  transform: translateY(-13px);
}

.siteDesc .siteWrapper img {
  width: 50px;
}

.favBtnWrapper {
  animation: fadeIn ease 1s 1.9s backwards, upIn ease 1s 1s.9 backwards;

  margin-top: 100px;
  text-align: center;
}

/*Favoirites*/

.favMoviesGrid {
  animation: fadeIn ease 0.6s;
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.favSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.favImageWrapper {
  text-align: center;
  cursor: auto;
  margin-bottom: 50px;
}

.favImageWrapper img {
  cursor: pointer;
  transition: ease 0.4s;
  border-radius: 35px;
  box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.4);
}

.favImageWrapper img:hover {
  transform: scale(1.06);
}

.favImageWrapper h4 {
  color: black;
}

.favSection h1 {
  font-weight: 800;
  text-transform: capitalize;
}

.avatarWrapper {
  border-radius: 50%;
  overflow: hidden;
  border: solid white;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.avatarWrapper img {
  width: 200px;
  transform: translateY(20px);
}

/* Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes upIn {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes upInImage {
  0% {
    transform: translate(-20%, 10%);
  }
  100% {
    transform: translate(-20%, 0);
  }
}

/*Media Queries*/

@media screen and (max-width: 1200px) {
  /*Login*/
  .loginSection {
    height: 90vh;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
  }

  .loginContent h1 {
    font-size: 40px;
  }

  .loginText {
    display: flex;
    flex-direction: column;
  }

  .loginImage img {
    width: 50%;
  }

  .loginText p {
    font-size: 18px;
  }

  /*Register*/
  .registerSection {
    height: 90vh;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
  }

  .registerContent h1 {
    font-size: 40px;
  }

  .registerText {
    display: flex;
    flex-direction: column;
  }

  .registerImage img {
    width: 50%;
  }

  .registerText p {
    font-size: 18px;
  }

  .formContainer {
    padding-top: 0px;
  }
  .registerText {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .registerText p {
    margin: 0;
  }

  /*Welcome Screen*/
  .welcomeSection {
    flex-direction: column;
  }

  .heroImage img {
    width: 350px;
  }

  .heroTitle {
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
  }
  .heroTitle span {
    font-size: 4.5rem;
    font-weight: 900;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .movieDescSection {
    flex-direction: column-reverse;
  }

  .movieDescImage {
    padding: 0;
  }

  .movieDescImage .imageWrapper {
    position: relative;
    height: 150px;
    width: 300px;
    margin-bottom: 50px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
  }

  .movieDescImage .imageWrapper img {
    position: absolute;
    top: 0;
    left: 60px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: right;
  }

  .detailsDesc h3 {
    font-size: 14px;
  }

  .siteDesc .imdbWrapper {
    width: 80px;
  }

  .siteDesc .siteWrapper {
    width: 80px;
  }

  .favBtnWrapper {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 570px) {
  /*NavBar*/
  .navList {
    position: fixed;
    top: 58px;
    right: -500px;
    width: 280px;
    height: 93vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 3;
    justify-content: center;
    align-items: center;
    box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.6s ease-in-out;
  }

  .navList.active {
    right: 0;
  }

  .listItem {
    text-align: center;
    width: 70%;
    margin: 37px 0;
    border-bottom: 1px solid rgba(34, 21, 221, 0.2);
    padding: 15px 15px;
  }

  .menuIcon {
    display: block;
  }

  .loginSection {
    padding-left: 24px;
    padding-right: 24px;
  }
  .loginImage img {
    width: 70%;
  }

  .formContainer {
    width: 284px;
  }

  /*Welcome Screen*/

  .heroImage img {
    width: 250px;
  }

  .heroTitle {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
  }
  .heroTitle span {
    font-size: 4rem;
    font-weight: 900;
  }

  /*MovieDesc*/

  .movieDescContent {
    padding: 20px;
  }

  .movieDescImage .imageWrapper {
    height: 120px;
    width: 250px;
  }

  .movieDescImage .imageWrapper img {
    left: 50px;
  }

  .favBtnWrapper div {
    width: 150px !important;
  }

  .MuiButton-root {
    font-size: 10px !important;
  }
}
